.header {
    background-color: #4CAF50; /* Green background */
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .header h1 {
    margin: 0;
    font-size: 3rem;
  }
  
  .header p {
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: lighter;
  }
  