body{
  background-image: url('C:/Users/hp/weather-app/client/src/assets/images/background.webp'); 
  background-position:center;
  background-repeat: no-repeat;
  min-height: 1000px;
  background-size: cover;
}
body::-webkit-scrollbar{
  display:none;
}